#top { width:960px; height:150px; margin: 0 auto;}
#logo { width:645px; float:left; margin-top:40px;}
#conv { width:240px; float:right; text-align:right; margin-top:11px; margin-right:13px;}
#social { width: 255px; height:127px; background:url(images/bcstl_socialbg.png) no-repeat; padding-top:22px; text-align:center;}
#social ul {list-style-type: none; list-style-image: none;  display:inline-block;}

#navtop { margin: 0 auto; text-align:right; height:74px;  }
#navtop ul {list-style-type: none; list-style-image: none;  display:inline-block;}
#navtop li {display:inline-block; padding-left:5px; padding-right:5px; font: 30px 'jrhandRegular', Arial, sans-serif;}
#navtop a { color:$text; text-decoration:none;}
#navtop a:hover { color:#f4f4f4;}
.menu-top {color:$text; text-shadow: 1px 1px 1px rgba(5,5,5,0.70); margin-top:15px; }
.menu-other a { color:$text; text-decoration:none;}
.menu-other a:hover { text-decoration:underline; color:#f4f4f4;}
.menu-other {margin-top:30px;}
.admin { width:240px; height:94px; text-align:center; padding-top:58px; margin-top:10px; font: 30px 'NotethisRegular', Arial, sans-serif;
background:url(images/bcstl_admin.png) no-repeat; }
